.card {
  padding: var(--space-md);
  border: 2px solid var(--secondary);
  border-radius: var(--radius-sm);
  background-color: var(--bg);
}

.card-primary {
  border-color: var(--primary);
}

.card-accent {
  border-color: var(--accent);
}

.card-secondary {
  border-color: var(--secondary);
}
