.widgetClickableBadge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--space-sm);
}

.badgeText {
  overflow-wrap: break-word;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-xs);
  line-height: 1.4;
  color: var(--text);
}
